{% extends 'foto/base.html' %}
{% load staticfiles %}
                   {% block content %}
                    <div class="content-main">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="banner-main-about margin-b-30">
                                    <div class="banner-main-about-text">
                                        <div class="heading2">
                                            <p>ДОБРО ПОЖАЛОВАТЬ НА</p>
                                            <h1>FOTOALFA</h1>
                                        </div>
                                        <div class="desc2">
                                            <ul>
<li>Мы предлагаем вам качественную фотосъемку ключевых событий вашей жизни. У вас свадьба, юбилей, день рождения - пригласите профессионального фотографа и получите замечательные  фото с самыми яркими и эмоциональными моментами.</li>

<li>Свяжитесь с нами  и приятные воспоминания о празднике дополнятся еще одним семейным альбомом ;)</li>

<li>Мы качественно выполним  поставленные вами задачи при фотосъемке архитектуры, интерьеров. Выделим  достоинства, особенности объекта, сделаем необходимые акценты - большое уютным, маленькое просторным.</li>

<li>При фотосъемке картин, живописи и других капризных предметов не будет бликов.</li>

<li>Фотосъемка детей одно из направлений, которому уделяется особое внимание. Здесь главное правило – никаких правил. При неизменно высоком качестве фотографий просто наблюдаем и слегка направляем.</li>
                                            </ul>
                                            <button type="button" class="">SAGITIS SELIT</button>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/about-img-1.png' %}" alt="Image" class="img-responsive">
                                </div>    
                            </div>                                                        
                        </div> <!-- .banner-main-about -->

</div>
                    {% endblock %}