{% extends 'foto/base.html' %}
{% load staticfiles %}
    {% block head %}
<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/contact.js"></script>
    {% endblock %}
                   {% block content %}

                    <div class="content-main contact-content">
                        <div class="contact-content-upper">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="gallery_title">
                                        <h3>ФОТОАЛЬФА</h3>
                                        <h4>В нужное время, в нужном месте!</h4>
                                    </div>    
                                </div>                            
                            </div>
     
                            <div class="row">  
                                <div class="col-sm-12 col-md-6 contact_left">        
                                    <form class="form-horizontal" method="post" action="#">
                                    {% csrf_token %}
                                        {{ form.non_field_errors }}
                                    <div>
                                      <span style="color: red;">{{ form.subject.errors }}</span>
                                      {{ form.subject }} <br />
                                    </div>
                                    <div>
                                      <span style="color: red;">{{ form.sender.errors }}</span>
                                      {{ form.sender }} <br />
                                    </div>
                                    <div>
                                      <span style="color: red;">{{ form.message.errors }}</span>
                                      {{ form.message }} <br />
                                    </div>
                                    <div>
                                      <span style="color: red;">{{ form.copy.errors }}</span>
                                      <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
                                    </div>
                                    <span style="color: red;">{{ form.captcha.errors }}</span>
                                    <div>{{ form.captcha }}</div>
                                    <input type="submit" class="btn btn-danger" value="Отправить"/>
                                    
                                    </form>    
                                </div> <!-- .contact-left -->
      
                                <div class="col-sm-12 col-md-6 contact_right">
                                    
                                    <div class="col-md-12 contact_title">
                                        КОНТАКТЫ
                                    </div>
                                    
                                    <div class="col-md-12 contact_sub_title">

                                    </div>
                               
                                    <div class="col-md-12 contact_text">
Мы всегда готовы быть в нужное время, в нужном месте, напишите нам, и мы оперативно свяжемся с вами!
                                    </div>
                                    
                                    <div class="col-md-12 contact_info">
                                        <a href="mailto:info@company.com" class="contact-info-link">
                                            <i class="fa fa-envelope contact-fa"></i>info@company.com
                                        </a><br/>
                                        <a href="https://vk.com/fotoalfa" class="contact-info-link">
                                            <i class="fa fa-vk"></i>&nbsp;&nbsp;&nbsp;vk.com/fotoalfa
                                        </a><br/>
                                    </div>


                                </div> <!-- .contact_right -->

                            </div> <!-- .row -->
                        </div>

                    </div> <!-- .contact-content -->
                   {% endblock %}