{% extends 'foto/base.html' %}
{% load staticfiles %}
    {% block head %}
<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/gallery.js"></script>
<script type="text/javascript">
$(function(Nav){
    $("a[href^='#']").on("click", function(e){
         e.preventDefault();
         $('div.box').show();
         var idСlick = e.target.id;
         $('div.box').not('#'+idСlick).hide();
         $(window).load(function () {
           var c = jQuery.makeArray($(".box-sizer div"));
           c.sort(function (a, b) {
               a = $(a).attr("id");
               b = $(b).attr("id");
               return b - a
           });
           $(c).appendTo(".box-sizer")
         return false;
    });
});
});
$(function(All){
    $("a[rel=all]").on("click", function(e){
         e.preventDefault();
         $('div.box').show();
         return false;
    });
});
</script>
    {% endblock %}
                   {% block content %}

                    <!-- content-main -->
                    <div class="content-main gallery_main">

                        <div class="gallery-main-inner">
                            
                            <div class="col-md-12 gallery_title_main">
                                <div class="gallery_title">
                                    <h3>ГАЛЕРЕЯ</h3>
                                    <h4>Выберите раздел:</h4>
                                </div>
                                {% for c in categories %}
                                <a href="#" class="btn view_more" id="{{c.id}}" rel="nav" style="margin: 3px;">{{ c.category }}</a>
                                {% endfor %}
                                <a href="#" class="btn view_more" id="0" rel="all" style="margin: 3px;">Все разделы</a>
                                <br style="clear:both;"/>

                            </div>
                            <div id="content" class="gallery-images-container">
                                <div class="box-gutter"></div>
                                <div class="box-sizer"></div>
                                {% for f in foto %}
                                <div class="box" id="{{ f.category.id }}">
                                    <a href="/media/{{ f.image }}"><img alt="Agra picture" src="/media/{{ f.image_prev }}"></a>
                                </div>
                                {% endfor %}
                            </div>                

                            <div class="row text-center view_more_main">
                                <div class="pagination">
                               <span class="step-links">

                                {% if foto.has_previous %}
                                <a href="?page={{ foto.previous_page_number }}" class="btn view_more">назад</a>
                                {% endif %}

                            <span class="current">&nbsp;&nbsp;&nbsp; Страница {{ foto.number }} из {{ foto.paginator.num_pages }} &nbsp;&nbsp;&nbsp;</span>

                                {% if foto.has_next %}
                                <a href="?page={{ foto.next_page_number }}" class="btn view_more">вперед</a>
                                {% endif %}</span></div>
                            </div>

                        </div>

                    </div>
                  {% endblock %}
