{% extends 'foto/base.html' %}
{% load staticfiles %}
    {% block head %}
<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/gallery.js"></script>
    {% endblock %}
                   {% block content %}

                    <!-- content-main -->
                    <div class="content-main gallery_main">

                        <div class="gallery-main-inner">
                            
                            <div class="col-md-12 gallery_title_main">
                                <div class="gallery_title">
                                    <h3>ГАЛЕРЕЯ</h3>
                                    <h4>ФОТОГРАФИИ</h4>
                                </div><br style="clear:both;"/>
                            </div>

                            <div id="content" class="gallery-images-container">
                                <div class="box-gutter"></div>
                                <div class="box-sizer"></div>
                                {% for f in foto %}
                                <div class="box">
                                    <a href="/media/{{ f.image }}"><img alt="Agra picture" src="/media/{{ f.image_prev }}"></a>
                                </div>
                                {% endfor %}
                            </div>                

                            <div class="row text-center view_more_main">
                                {% if contacts.has_previous %}
                                <a href="?page={{ contacts.previous_page_number }}" class="btn view_more">назад</a> &nbsp;&nbsp;&nbsp;
                                {% endif %}

                            <span class="current">Страница {{ contacts.number }} из {{ contacts.paginator.num_pages }}.</span>

                                {% if contacts.has_next %}
                                <a href="?page={{ contacts.next_page_number }}" class="btn view_more">вперед</a>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                  {% endblock %}